h2 {
  font-size: 64px;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 32px;
  }
}
h3 {
  font-size: 48px;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 24px;
  }
}
h4 {
  font-size: 24px;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
h5 {
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
