.dropdown {
  width: 100px;
  display: none;
  &.show {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    li {
      text-align: center;
      color: var(--black);
      padding: 0.5em;
      border-bottom: 1px solid var(--gray100);
      &:hover {
        background: var(--primary-hover);
        color: var(--primary-blue);
      }
    }
  }
}
